.video {
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    // border: 1px solid red;

    .videoContainer {
        height: 250px;
    }

    iframe,
    video {
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
        margin: 0;
        border-radius: 5px 5px 0 0;
        object-fit: cover;
    }

    p {
        padding: 20px 0;
        font-size: 18px;
        font-weight: 600;
        position: relative;
        padding-right: 40px;

        span {
            position: absolute;
            top: 20px;
            right: 5px;

            i {
                margin-left: 10px;
                cursor: pointer;
            }

            i:hover,
            i.liked {
                color: rgb(16, 171, 233);
            }
        }
    }
}