.summaryCard {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 0px 5px grey;

    P {
        font-weight: 700;
        font-size: 20px;
    }

    i {
        font-size: 50px;
        margin: 20px auto;
        display: block;
        width: 60px;
        height: 60px;
        cursor: grab;
    }

    i:hover {
        animation: animate 2s ease-in-out 0s infinite;
    }

    span {
        font-size: 30px;
        font-weight: 600;
    }
}

@keyframes animate {
    from {
        transform: scale(.8);
    }
    50%{
        transform: scale(1.2);
    }

    to {
        transform: scale(0.8);
    }
}