.sidebar {
    height: 100%;
    width: 250px;
    background-color: rgb(121, 116, 116);
    transition: all .5s ease-in-out;
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 5;
    background-image: url(../../bg_image.jpg);

    .sidebar-container {
        padding-top: 50px;
        background-color: rgba(0, 0, 0, 0.747);
        height: 100%;
        width: 100%;
    }

    i.navMenu {
        position: fixed;
        top: 18px;
        left: 10px;
        cursor: pointer;
        transition: all .5s;
    }

    .userDetails {
        margin: 0 20px 30px 20px;
        border-bottom: 1px solid whitesmoke;
        text-align: center;
        color: white;

        span {
            img {
                width: 150px;
                height: 150px;
                border: 3px solid whitesmoke;
                border-radius: 50%;
                box-shadow: 1px 1px 1px white;
            }
        }

        p {
            margin: 20px 0;
            font-weight: 700;
        }
    }

    menu {
        color: white;
        padding: 0 20px;

        ul {
            list-style-type: none;

            li {
                cursor: pointer;
                padding: 10px;
                border-radius: 3px;
                transition: all .5s ease-in-out;
                margin-bottom: 5px;
            }

            li.active,
            li:hover {
                background-color: rgba(245, 245, 245, 0.575);
                color: black;

            }
        }
    }
}

.sidebar.open {
    left: 0 !important;

    i.navMenu {
        color: white;
        transform: rotate(180deg);
        font-size: 20px;
    }
}

@media screen and(min-width: 980px) {
    .sidebar {
        left: 0;

        i.navMenu {
            display: none;
        }
    }
}