.notification {
    position: fixed;
    top: 50px;
    right: 50px;
    border: 1px solid red;
    z-index: 5;
    overflow-x: hidden;

    &-box {
        border: 2px solid green;
        width: 200px;
        background-color: white;
        height: 150px;
        transform: translateX(100%);

    }

    .animate {
        animation-name: move;
        animation-duration: 3s;
        animation-name: move;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;

    }
}

@keyframes move {
    from {
        transform: translateX(100%);
    }

    10% {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}