.tutor {
    // display: flex;
    // justify-content: center;
    // height: 300px;
    // padding-top: 100px;
    position: relative;
    background-color: whitesmoke;
    // background-image: repeating-linear-gradient(whitesmoke 10%, white 20%, whitesmoke 20%);
    min-height: 100vh;

    &-sidebar{
        height: 100vh;
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
    }

    nav {
        width: 100%;
        position: absolute;
        top: 0;

        button {
            background-color: rgb(68, 14, 14);
            border: none;
            padding: 5px 10px;
            a {
                text-decoration: none;
                color: white;
                font-size: 20px;
            }
        }
        p{
            margin: 20px auto;
        }

    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            object-fit: cover;
            object-position: top;
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-left: 40px;
    }

}
@media screen and (min-width:980px){
    .tutor-main{
        padding-left: 250px;
    }
}