.sign-in {
    background-color: whitesmoke;
    background-image: url(../../bg_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;

    .loader{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(177, 171, 171, 0.904);
        z-index: 5;
    }

    .landing-header {
        height: 50px;
        background-color: grey;
    }

    .container {
        background-color: rgba(245, 222, 179, 0.377);
        height: 100vh;
        width: 100vw;
        padding: 20px 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    h1 {
        margin-bottom: 50px;
    }

    h3 {
        color: rgb(26, 26, 70);
        margin: 20px auto;
    }
    p.alert{
       background-color: rgb(196, 106, 106);
       color: white;
       padding: 5px 10px;
       font-weight: 700;
       border-radius: 5px;
    }

    form {
        background-color: white;
        padding: 30px 50px;
        max-width: 600px;
        margin: 0vh auto;
        border-radius: 5px;

        .category {
            margin: 30px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                margin: 10px auto;
            }

            button {
                width: 180px;
                font-size: 20px;
                padding: 10px 30px;
                background-color: grey;
                color: white;
                outline: none;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: all .1s;
                box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.507);
                transform: translateY(-2px);
            }

            button.active,
            button:hover {
                background-color: yellowgreen;
                box-shadow: 1px 1px 2px grey;
                transform: translateY(0px);

            }
        }
    }

    @media screen and (min-width:650px) {
        form {
            .category {
                display: flex;
                flex-direction: row;
            }
        }
    }
}